/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }

  .lesson p {
    font-size: 22px;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .lesson img {
    width: 80%;
  }

  .tools img {
    padding: 2.5%;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }

  .lesson img {
    width: 60%;
  }

  .lesson p {
    top: 35%;
    font-size: 24px;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .btn:hover {
    transform: scale(1.02);
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  header {
    height: auto;
    transition: 0.5s all;
  }
  /* Tambahkan CSS untuk header-right */
  .header-right {
    clear: both;
    margin-right: 0px;
    width: 100%;
    display: none;
  }

  .header-right a {
    text-align: center;
    width: 100%;
  }

  .login {
    margin-bottom: 20px;
  }

  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block;
    visibility: visible;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }

  .tools img {
    padding: 2%;
  }

  .tools-wrapper {
    padding: 0 0 80px 0;
  }

  .join-wrapper lottie-player {
    display: none;
  }

  .content-join-wrapper {
    float: none;
    text-align: center;
  }
  .content-join-wrapper h1 {
    font-size: 24px;
    float: none;
    text-align: center;
  }
}
